
<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable" (click)="sort('name')">Name</th>
      <th class="sortable" (click)="sort('type')">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
   <tr *ngFor = "let satellite of satellites">{{satellite}}</tr>
    <tr>
      <td>{{satellites[0].name}}</td>
      <td>{{satellites[0].type}}</td>
      <td>{{satellites[0].operational}}</td>
      <td>{{satellites[0].orbitType}}</td>
      <td>{{satellites[0].launchDate}}</td>
    </tr>
    <tr>
      <td>{{satellites[1].name}}</td>
      <td>{{satellites[1].type}}</td>
      <td>{{satellites[1].operational}}</td>
      <td>{{satellites[1].orbitType}}</td>
      <td>{{satellites[1].launchDate}}</td>
    </tr>
    <tr>
      <td>{{satellites[2].name}}</td>
      <td>{{satellites[2].type}}</td>
      <td>{{satellites[2].operational}}</td>
      <td>{{satellites[2].orbitType}}</td>
      <td>{{satellites[2].launchDate}}</td>
    </tr>
    <tr>
      <td>{{satellites[3].name}}</td>
      <td>{{satellites[3].type}}</td>
      <td>{{satellites[3].operational}}</td>
      <td>{{satellites[3].orbitType}}</td>
      <td>{{satellites[3].launchDate}}</td>
    </tr>
    <tr>
      <td>{{satellites[4].name}}</td>
      <td>{{satellites[4].type}}</td>
      <td>{{satellites[4].operational}}</td>
      <td>{{satellites[4].orbitType}}</td>
      <td>{{satellites[4].launchDate}}</td>
    </tr>
    <tr>
      <td>{{satellites[5].name}}</td>
      <td [class.warning]="shouldShowWarning()">{{satellites[5].type}}</td>
      <td>{{satellites[5].operational}}</td>
      <td>{{satellites[5].orbitType}}</td>
      <td>{{satellites[5].launchDate}}</td>
    </tr>
    <tr>
      <td>{{satellites[6].name}}</td>
      <td>{{satellites[6].type}}</td>
      <td>{{satellites[6].operational}}</td>
      <td>{{satellites[6].orbitType}}</td>
      <td>{{satellites[6].launchDate}}</td>
    </tr>
    <tr>
      <td>{{satellites[7].name}}</td>
      <td>{{satellites[7].type}}</td>
      <td>{{satellites[7].operational}}</td>
      <td>{{satellites[7].orbitType}}</td>
      <td>{{satellites[7].launchDate}}</td>
    </tr>
    <tr>
      <td>{{satellites[8].name}}</td>
      <td>{{satellites[8].type}}</td>
      <td>{{satellites[8].operational}}</td>
      <td>{{satellites[8].orbitType}}</td>
      <td>{{satellites[8].launchDate}}</td>
    </tr>




</table>
